# Configuración Clerk (obtener desde Clerk Dashboard)
CLERK_PUBLISHABLE_KEY=pk_test_clave_publica
CLERK_SECRET_KEY=sk_test_clave_secreta

# Local backend / API
URL_LOCAL_BACKEND=Url del backend local
API_USERS=Dirección de la API de usuarios