---
import Form from "@components/Form.astro";
import FormButton from "@components/inputs/FormButton.astro";
import FormInput from "@components/inputs/FormInput.astro";
import Title from "@header/Title.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <Title />
    <div class="">
        <h1 class="text-center text-2xl text-H-blue-900 font-semibold">
            Iniciar sesi칩n
        </h1>
        <hr class="my-4 bg-H-blue-300" />
        <Form class="flex flex-col gap-4 mx-3">
            <FormInput
                name="cell"
                id="cell"
                type="tel"
                label="Celular"
                placeholder="Numero de celular"
            />
            <FormInput
                name="password"
                id="passsword"
                type="password"
                label="Contrase침a"
                placeholder="Contrase침a"
            />
            <FormButton type="submit" class="w-full" text="Iniciar sesi칩n" />
        </Form>
    </div>
</Layout>

<style></style>

<script>
    const form = document.querySelector("form") as HTMLFormElement;
    form.addEventListener("submit", (e) => {
        e.preventDefault();
        setTimeout(() => {
            location.href = "/";
        }, 1000);
    });
</script>
