---
import Form from "@components/Form.astro";
import FormButton from "@components/inputs/FormButton.astro";
import FormInput from "@components/inputs/FormInput.astro";
import Title from "@header/Title.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <Title />
    <div class="h-5/6">
        <Form>
            <FormInput
                name="search"
                id="search"
                type="tel"
                label="Busca tu historial de domicilios"
                placeholder="Numero de celular"
            />
            <FormButton
                type="button"
                class="w-full"
                text="Buscar"
                id="btnSearch"
            />
        </Form>
    </div>
</Layout>

<style>
    div {
        @apply flex flex-col justify-center;
    }
</style>

<script>
    const btnSearch = document.querySelector("#btnSearch") as HTMLButtonElement;

    btnSearch.addEventListener("click", (e) => {
        e.preventDefault();
        setTimeout(() => {
            location.href = "/record";
        }, 1000);
    });
</script>
