---
import Form from "@components/Form.astro";
import FormButton from "@components/inputs/FormButton.astro";
import FormInput from "@components/inputs/FormInput.astro";
import Title from "@header/Title.astro";
import Layout from "@layouts/Layout.astro";

const li = null;
---

<Layout li={li} title="Busqueda de domicilios">
    <Title />
    <div>
        <Form>
            <FormInput
                name="search"
                id="search"
                type="tel"
                label="Busca tu historial de domicilios"
                placeholder="Numero de celular"
            />
            <FormButton
                type="button"
                class="w-full"
                text="Buscar"
                id="btnSearch"
            />
        </Form>
    </div>
</Layout>

<script>
    import { navigate } from "astro:transitions/client";

    function Search() {
        const btnSearch = document.querySelector(
            "#btnSearch",
        ) as HTMLButtonElement;

        if (!btnSearch) return;
        console.log("Button:", btnSearch);

        btnSearch.addEventListener("click", (e) => {
            e.preventDefault();

            setTimeout(() => {
                navigate(
                    "/record/" +
                        (document.querySelector("#search") as HTMLInputElement)
                            .value,
                );
            }, 1000);
        });
    }

    document.addEventListener("astro:page-load", Search);
</script>
