<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Control de domicilios</title>
	</head>
	<body>
		<div class="H-container">
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		@apply bg-H-black;
		margin: 0;
		width: 100%;
		height: 100%;
	}

	.H-container {
		@apply min-h-screen max-w-md mx-auto bg-H-blue-100 rounded-lg py-9 px-8;
	}
</style>
