---
import ActionNav from "@components/action/ActionNav.astro";
import { ClientRouter } from "astro:transitions";

interface LayoutProps {
	title?: string;
	Li?: Array<{ text: string; href: string }>;
}

const { title = "Hermez Domicilio", Li = [] } = Astro.props as LayoutProps;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<div class="H-container">
			<slot />
		</div>
		<ActionNav>
			<Fragment slot="itemsNav">
				{
					Li && Li.length > 0
						? Li.map((item) => (
								<li>
									<a href={item.href}>{item.text}</a>
								</li>
							))
						: "Error: Sin opciones"
				}
			</Fragment>
		</ActionNav>
	</body>
</html>

<style>
	html,
	body {
		@apply bg-H-black h-full;
		margin: 0;
		width: 100%;
	}

	.H-container {
		@apply grid auto-rows-auto h-full min-h-fit max-w-md mx-auto bg-H-blue-100 rounded-lg py-9 px-8;
	}
</style>
